---
title: C2O Orders API

toc_footers:
  - <a href='#'>Sign Up for a Developer Key</a>
  - <a href='https://github.com/slatedocs/slate'>Documentation Powered by Slate</a>

back_btn: true

search: false

code: false

code_navigation: false

code_clipboard: false

---

# Position Codes

All customisations sent via the ordering API require a position code to indicate where they should be printed or embroidered. The full list of position codes is below. All positions are stated as worn.

| Position Code | Position Name | Position Diagram	| Maximum Width |
| :---          | ---           | ---               | ---
| 1             | Right Sleeve  | <img src="/images/1.jpeg" alt="Right Sleeve" /> | 10 cm |
| 2             | Bottom Right  | <img src="/images/2.jpeg" alt="Bottom Right" /> | 12 cm |
| 3             | Right Chest   | <img src="/images/3.jpeg" alt="Right Chest" />  | 12 cm |
| 4             | Center Chest  | <img src="/images/4.jpeg" alt="Center Chest" /> | 30 cm |
| 5             | Left Chest    | <img src="/images/5.jpeg" alt="Left Chest" />   | 12 cm |
| 6             | Bottom Left   | <img src="/images/6.jpeg" alt="Bottom Left" />  | 12 cm |
| 7             | Left Sleeve   | <img src="/images/7.jpeg" alt="Left Sleeve" />   | 10 cm |
| 8             | Center Back   | <img src="/images/8.jpeg" alt="Center Back" />   | 30 cm |
| 9             | Top Back      | <img src="/images/9.jpeg" alt="Top Back" />     | 30 cm |
| 11            | Front of Hat  | <img src="/images/11.jpeg" alt="Front of hat" />   | 10 cm |
| 12            | Bottom Back   | <img src="/images/12.jpeg" alt="Bottom Back" />   | 30 cm |
| 13            | Front of Bag   | <img src="/images/13.jpeg" alt="Front of Bag" />   | 30 cm |
| 14            | Centre Tea Towel   | <img src="/images/14.jpeg" alt="Centre Tea Towel" />   | 30 cm |
| 15            | Left Pocket   | <img src="/images/15.jpeg" alt="Left Pocket" />   | 12 cm |
| 16            | Right Pocket   | <img src="/images/16.jpeg" alt="Right Pocket" />   | 12 cm |
| 17            | Top Chest   | <img src="/images/17.jpeg" alt="Top Chest" />   | 30 cm |
| 18            | Inside Back (for printed Labels)   | <img src="/images/18.jpeg" alt="Inside Back" />   | 12 cm |
| 19            | Front of Tie   | <img src="/images/19.jpeg" alt="Front of Tie" />   | 5 cm |


## Important Notes

The maximum width for printing is 30cm, the maximum width for embroidery is 25cm. Any embroidery designs submitted via the API with a width greater than 25cm will automatically have the size reduced to 25cm by the API.

