---
title: API Overview

toc_footers:
  - <a href='#'>Sign Up for a Developer Key</a>
  - <a href='https://github.com/slatedocs/slate'>Documentation Powered by Slate</a>


search: false

code: false

code_navigation: false

code_clipboard: true
---

# API Overview

Do you sell or bulk purchase customised clothing and require a company to do the fulfilment?
With the Clothes2order ordering API, you can set up your own website or other ordering medium
and send orders directly to us electronically in real time. We’ll then dispatch the completed
order straight to you or your customer.

<img class="api-steps-image" src="/images/api_steps.png" alt="Api Steps"
	title="Api Steps"/>

Every order placed via our API receives the same expert service as any other Clothes2order order,
so you can sure of receiving the best possible end result when ordering with us. To find out
more about our API and view in depth technical specifications, please click the links on the
left hand side.
